[View in Colaboratory](https://colab.research.google.com/github/simrang02/machine_learning/blob/master/Assignment_9.ipynb)

In [0]:
#importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/train.csv')
df1 = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/test.csv')

In [0]:
concat = [df, df1]
result = pd.concat(concat)

In [304]:
result.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [305]:
result.shape

(1309, 12)

In [306]:
result.size

15708

In [307]:
result.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
count,1046.000000,1308.000000,1309.000000,1309.000000,1309.000000,1309.000000,891.000000
mean,29.881138,33.295479,0.385027,655.000000,2.294882,0.498854,0.383838
std,14.413493,51.758668,0.865560,378.020061,0.837836,1.041658,0.486592
min,0.170000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,328.000000,2.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,655.000000,3.000000,0.000000,0.000000
75%,39.000000,31.275000,0.000000,982.000000,3.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,1309.000000,3.000000,8.000000,1.000000

In [308]:
result.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [0]:
result.dropna(subset=['Survived'], inplace=True)

In [0]:
a = pd.isna(result['Cabin'])
result['Has_Cabin'] = a
remove = result.pop('Cabin')

In [311]:
p = re.compile(r'\W+')
result['Title']=0
for i in range(0,891):
  a = p.split(result['Name'][i])
  if 'Mr' or 'Mrs' or 'Master' or 'Miss' or 'Special' is a[1]:
    result['Title'][i] = a[1]
  else:
    result['Title'][i] = a[2]

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
result['Categorical_age'] = pd.qcut(result['Age'],20).value_counts()
result['Categorical_fare'] = pd.qcut(result['Fare'],30).value_counts()

In [0]:
new = result.drop(['Name', 'PassengerId', 'Ticket', 'Age', 'Fare', 'SibSp', 'Parch'],axis =1)

In [0]:
pd.options.display.max_columns = None
df1 = pd.get_dummies(new, columns=['Embarked','Sex',	'Has_Cabin',	'Title'])

In [0]:
data = df1.loc[:, 'Pclass':'Has_Cabin_True']

In [0]:
data = data.fillna(data.mean())

In [0]:
from sklearn.preprocessing import *

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
reg = LogisticRegression()

In [0]:
title = data['Survived']
train = data.drop(['Survived'],axis=1)

In [0]:
from sklearn.cross_validation import train_test_split

In [0]:
x_train , x_test , y_train , y_test = train_test_split(train , title , train_size = 0.80,random_state =2)

In [325]:
reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [326]:
reg.predict(x_test)

array([0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0.,
       0., 1., 0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0.,
       1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0.,
       0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0.,
       1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 1.,
       0., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0.,
       0., 1., 1., 1., 0., 0., 0., 0., 1.])

In [327]:
reg.score(x_test,y_test)

0.7821229050279329